SolReservaCitas/WebReservaCitasAfiliado/Service References/WSMedico/MedicoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Medico">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMedico" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medico" nillable="true" type="tns:Medico" />
  <xs:complexType name="ArrayOfMedico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medico" nillable="true" type="tns:Medico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedico" nillable="true" type="tns:ArrayOfMedico" />
</xs:schema>