SolReservaCitas/WebReservaCitasAfiliado/Service References/WSMedico/MedicoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MedicoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5000/Implementacion/MedicoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5000/Implementacion/MedicoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5000/Implementacion/MedicoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedicoService_CrearMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMedico" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_CrearMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_ObtenerMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMedico" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_ObtenerMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_ModificarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMedico" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_ModificarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_EliminarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedico" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_EliminarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_ListarMedicos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicos" />
  </wsdl:message>
  <wsdl:message name="IMedicoService_ListarMedicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicosResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedicoService">
    <wsdl:operation name="CrearMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicoService/CrearMedico" message="tns:IMedicoService_CrearMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicoService/CrearMedicoResponse" message="tns:IMedicoService_CrearMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicoService/ObtenerMedico" message="tns:IMedicoService_ObtenerMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicoService/ObtenerMedicoResponse" message="tns:IMedicoService_ObtenerMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicoService/ModificarMedico" message="tns:IMedicoService_ModificarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicoService/ModificarMedicoResponse" message="tns:IMedicoService_ModificarMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicoService/EliminarMedico" message="tns:IMedicoService_EliminarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicoService/EliminarMedicoResponse" message="tns:IMedicoService_EliminarMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMedicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicoService/ListarMedicos" message="tns:IMedicoService_ListarMedicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicoService/ListarMedicosResponse" message="tns:IMedicoService_ListarMedicos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMedicoService" type="tns:IMedicoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearMedico">
      <soap:operation soapAction="http://tempuri.org/IMedicoService/CrearMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMedico">
      <soap:operation soapAction="http://tempuri.org/IMedicoService/ObtenerMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarMedico">
      <soap:operation soapAction="http://tempuri.org/IMedicoService/ModificarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMedico">
      <soap:operation soapAction="http://tempuri.org/IMedicoService/EliminarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMedicos">
      <soap:operation soapAction="http://tempuri.org/IMedicoService/ListarMedicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedicoService">
    <wsdl:port name="BasicHttpBinding_IMedicoService" binding="tns:BasicHttpBinding_IMedicoService">
      <soap:address location="http://localhost:5000/Implementacion/MedicoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>