SolReservaCitas/WebReservaCitasAfiliado/Service References/WSMedico/MedicoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/Implementacion/MedicoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="CrearMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedico" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amaterno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="CrearMedicoResult" nillable="true" type="q1:Medico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ObtenerMedicoResult" nillable="true" type="q2:Medico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedico" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amaterno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ModificarMedicoResult" nillable="true" type="q3:Medico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedicoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ListarMedicosResult" nillable="true" type="q4:ArrayOfMedico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>