SolReservaCitas/WebReservaCitasAfiliado/Service References/WSCentro/CentroService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Centro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCentroAtencion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Centro" nillable="true" type="tns:Centro" />
  <xs:complexType name="ArrayOfCentro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Centro" nillable="true" type="tns:Centro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCentro" nillable="true" type="tns:ArrayOfCentro" />
</xs:schema>