SolReservaCitas/SOAPServicesTest/Service References/AfiliadoProxy/AfiliadoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Afiliado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAfiliado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Afiliado" nillable="true" type="tns:Afiliado" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoNegocio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeNegocio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfAfiliado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Afiliado" nillable="true" type="tns:Afiliado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAfiliado" nillable="true" type="tns:ArrayOfAfiliado" />
</xs:schema>