SolReservaCitas/SOAPServicesTest/Service References/AfiliadoProxy/AfiliadoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AfiliadoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5000/Implementacion/AfiliadoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5000/Implementacion/AfiliadoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5000/Implementacion/AfiliadoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAfiliado_CrearAfiliado_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearAfiliado" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_CrearAfiliado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ObtenerAfiliado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAfiliado" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ObtenerAfiliado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ModificarAfiliado_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAfiliado" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ModificarAfiliado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_EliminarAfiliado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAfiliado" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_EliminarAfiliado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ListarAfiliado_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAfiliado" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ListarAfiliado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ValidarDNIExistente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarDNIExistente" />
  </wsdl:message>
  <wsdl:message name="IAfiliado_ValidarDNIExistente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarDNIExistenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IAfiliado">
    <wsdl:operation name="CrearAfiliado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAfiliado/CrearAfiliado" message="tns:IAfiliado_CrearAfiliado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAfiliado/CrearAfiliadoResponse" message="tns:IAfiliado_CrearAfiliado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAfiliado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAfiliado/ObtenerAfiliado" message="tns:IAfiliado_ObtenerAfiliado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAfiliado/ObtenerAfiliadoResponse" message="tns:IAfiliado_ObtenerAfiliado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarAfiliado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAfiliado/ModificarAfiliado" message="tns:IAfiliado_ModificarAfiliado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAfiliado/ModificarAfiliadoResponse" message="tns:IAfiliado_ModificarAfiliado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAfiliado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAfiliado/EliminarAfiliado" message="tns:IAfiliado_EliminarAfiliado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAfiliado/EliminarAfiliadoResponse" message="tns:IAfiliado_EliminarAfiliado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAfiliado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAfiliado/ListarAfiliado" message="tns:IAfiliado_ListarAfiliado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAfiliado/ListarAfiliadoResponse" message="tns:IAfiliado_ListarAfiliado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarDNIExistente">
      <wsdl:input wsaw:Action="http://tempuri.org/IAfiliado/ValidarDNIExistente" message="tns:IAfiliado_ValidarDNIExistente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAfiliado/ValidarDNIExistenteResponse" message="tns:IAfiliado_ValidarDNIExistente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAfiliado" type="tns:IAfiliado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearAfiliado">
      <soap:operation soapAction="http://tempuri.org/IAfiliado/CrearAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAfiliado">
      <soap:operation soapAction="http://tempuri.org/IAfiliado/ObtenerAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAfiliado">
      <soap:operation soapAction="http://tempuri.org/IAfiliado/ModificarAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAfiliado">
      <soap:operation soapAction="http://tempuri.org/IAfiliado/EliminarAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAfiliado">
      <soap:operation soapAction="http://tempuri.org/IAfiliado/ListarAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarDNIExistente">
      <soap:operation soapAction="http://tempuri.org/IAfiliado/ValidarDNIExistente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AfiliadoService">
    <wsdl:port name="BasicHttpBinding_IAfiliado" binding="tns:BasicHttpBinding_IAfiliado">
      <soap:address location="http://localhost:5000/Implementacion/AfiliadoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>