SolReservaCitas/SOAPServicesTest/Service References/ReservaProxy/ReservaCitaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservaCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAsignada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAfiliado" type="xs:int" />
      <xs:element minOccurs="0" name="IdCentroAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="IdConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="IdMedico" type="xs:int" />
      <xs:element minOccurs="0" name="IdReservaCita" type="xs:int" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaCita" nillable="true" type="tns:ReservaCita" />
  <xs:complexType name="ArrayOfReservaCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaCita" nillable="true" type="tns:ReservaCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaCita" nillable="true" type="tns:ArrayOfReservaCita" />
</xs:schema>