SolReservaCitas/WebReservaCitasAfiliado/Service References/WSConsultorio/ConsultorioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Consultorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="IdCentroAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="IdConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="NroConsultorio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Consultorio" nillable="true" type="tns:Consultorio" />
  <xs:complexType name="ArrayOfConsultorio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Consultorio" nillable="true" type="tns:Consultorio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultorio" nillable="true" type="tns:ArrayOfConsultorio" />
</xs:schema>