SolReservaCitas/WebReservaCitasAfiliado/Service References/WSConsultorio/ConsultorioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/Implementacion/ConsultorioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="CrearConsultorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsultorio" type="xs:int" />
        <xs:element minOccurs="0" name="idCentro" type="xs:int" />
        <xs:element minOccurs="0" name="nroConsultorio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearConsultorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="CrearConsultorioResult" nillable="true" type="q1:Consultorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsultorio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ObtenerConsultorioResult" nillable="true" type="q2:Consultorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarConsultorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsultorio" type="xs:int" />
        <xs:element minOccurs="0" name="idCentro" type="xs:int" />
        <xs:element minOccurs="0" name="nroConsultorio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarConsultorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ModificarConsultorioResult" nillable="true" type="q3:Consultorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarConsultorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsultorio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarConsultorioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsultorios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsultoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ListarConsultoriosResult" nillable="true" type="q4:ArrayOfConsultorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorCentro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCentro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorCentroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ListarPorCentroResult" nillable="true" type="q5:ArrayOfConsultorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>